/* チェックboxが押されているときに適用 */
#app li > span.done {
  text-decoration: line-through;
}
li {
  list-style: none;
}

.list_item {
  margin-bottom: 10px;
}
.list_item span {
  font-size: 20px;
}
[v-cloak] {
  display: none;
}