<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newItem">
    <button v-on:click="addBtn">追加</button>
    <ul>
      <li v-for="text in todos">
        <span>{{ text.item }}</span>
      </li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="js/index.js"></script>
</body>
</html>